<header>
    <img
      src="assets\img\Thiago .jpg"
      alt="Thiago Rovari - Foto de Perfil"
      width="130px"
      height="130px"
      loading="eager"
    />
    <h1>Thiago Rovari</h1>
  </header>
  
  <aside>
    <div class="container">
      <p> Typescript | Angular | C++ | HTML | CSS</p>
      <p>Itajubá, Minas Gerais, Brasil</p>
      <p>
        Estou na área de desenvolvimento de software há pouco tempo. Porém estou bsucando cada vez mais ampliar meu conhecimento.
      </p>
  
      <nav>
        <ul>
          <li>
            <a href="https://thiagorovari.github.io/" target="_blank" class="btn btn-primary">
              Currículo
            </a>
          </li>
  
          <li>
            <a
              href="https://github.com/thiagorovari"
              target="_blank"
              class="btn btn-secondary"
            >
              Github
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
              target="_blank"
            >
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: (12) 98246-4036</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:thiagorovari@asimovjr.com.br" target="_blank">
              <strong>Envie uma e-mail para:</strong>
              <p>thiago&#64;asimovjr.com.br</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>
  